<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="WeatherReporterTestSuite" verbose="1" >
    <test name="UIAutomation" >
        <classes>
            <class name="main.java.uiautomation.WeatherForecast" />
        </classes>
    </test>
    <test name="APIAutomation">
        <classes>
            <class name="main.java.api.APIWeatherForecast" />

        </classes>
    </test>
    <test name="Comparator">
        <classes>
            <class name="main.java.compare.Comparator"/>
        </classes>
    </test>

</suite>
